// app global css in SCSS form
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $section-div;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}
