// app global css in SCSS form
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
